@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Edit Items</h1>

<AuthorizeView>
    <NotAuthorized>

        You are not authorized to modify - Please Login!


    </NotAuthorized>
    <Authorized>



        Authorized!!


    </Authorized>

</AuthorizeView>





@code {






}
